<main id="about" class="page about ">
    <div class="container img-container">
        <img width="100%" class="mt-3" src="img/logo.png" />
        <h4 class="text-center mt-3">PT.Vardion Digital Nebula</h4>
    </div>
    <div class="container mt-3">
        <div class="desc">
            <h6>App Name : Vardion Catalog Apps</h6>
            <h6>App Version : 1.0</h6>
        </div>
        <div class="footer">
            <a class="btn btn-primary text-white btn-block" name='scan_license'>License</a>
            <a class="btn btn-primary text-white btn-block" name='open_contact'>Contact</a>
        </div>
    </div>
</main>