<main data-role="page" class="page cart tab-content mt-5" id="cart" >
    <section id="cart-order">
        <ul class="nav nav-tabs bg-primary" id="orders" role="tablist">
            <li class="nav-item active " >
                <t t-log="cart"/>
                <t t-log="selected_line"/>
                <a class="nav-link text-white active" data-toggle="tab"  role="tab"  
                   t-att-id="'tab-'+ cart.id"
                   t-att-aria-controls="'so' + cart.cid" >
                    <t t-esc="cart.get_name()"/>                    
                </a>                
            </li>
            <li t-foreach="cart_ids" t-as="c" class="nav-item select_cart" t-if="c != cart.get('id')" >
                <a class="nav-link text-white btn" data-toggle="tab"  role="tab"  t-att-data-id='c'
                   t-att-id="'tab-'+ c" t-att-href="'#so'+c" t-att-aria-controls="'so' + c"  name="select_cart">
                    <t t-esc="c.substr(-4)"/>
                </a>
            </li>
            <li class="nav-item" t-if="cart_ids.length lt 5">
                <a class="nav-link text-white btn" name="add_cart" data-toggle="add"  role="add"  >
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>        
        <div t-att-class="'tab-content order ' + cart.get('state')" id="order">
            <div role="tabpanel" class="tab-pane active"  
                 t-att-id="'so'+cart.id" t-att-aria-labelledby="'so'+cart.cid">                
                <div class="head bg-primary-light text-white p-3">
                    <div class="container">
                        <div class="total">
                            <label>Total</label>
                            <h4 class="total-val">
                                <t t-esc='format_currency(cart.get_total())'/>
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6 style="display:inline">Partner</h6>
                                <a class="btn pull-right" name='select_partner'><i class="material-icons">contacts</i></a>
                                <h6 class="partner-val" >
                                    <t t-esc='cart.get_partner()'/>
                                </h6>
                            </div>
                            <div class="col-6">
                                <h6 style="display:inline">Date</h6>
                                <a class="btn pull-right" name='select_date'><i class="material-icons">event</i></a>
                                <h6 class="date-val" >
                                    <t t-esc='cart.get_order_date()'/>
                                </h6>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-warning" role="alert" style="margin-bottom: 0;min-height: 56px;"><t t-raw="get_notification()"/></div>                
                <div class="container so-list" style="padding:0">
                    <ul class="list-group list-group-flush lines" style="width: 100%">
                        <li t-foreach="cart.orderlines.models"  t-as="line" t-att-id="'line-' + line.cid " t-att-data-id="line.cid"
                            class="list-group-item line " >
<!--                            <t t-log="selected_line"/>
                            <t t-log="line"/>-->
                            <span class="qty"><t t-esc="line.get_qty()"/></span>
                            <div class="qty" >
                                <button class="btn btn-primary" name="remove_qty"  t-att-data-id="line.cid"><i class="material-icons">remove</i></button>
                                <input class="qty text-right" type="number" name="qty" t-att-data-id="line.cid" t-att-value="line.get_qty()">
                                <button class="btn btn-primary" name="add_qty"><i class="material-icons">add</i></button>
                            </div>
                            <span class="item"><t t-esc="line.get_display_name()"/></span>
                            <span class="price"><t t-esc="format_currency(line.get_price())"/> </span>
                        </li>
                    </ul>                    
                </div>
                <t t-if='! get_notification()'>
                <div class="container note">
                    <textarea t-att-readonly="(cart.get('state') == 'draft' ? '1' : '0')" name="note" class="note" placeholder="Order Note... " style="width: 100%"><t t-esc="cart.get('note')"/></textarea>
                </div>                    
                </t>
            </div>            
        </div>
    </section>
    <section id="cart-buttons" class="bottom-button text-white" style="display:none;">        
        <a class="btn col-4" name="select_payterm"><i class="material-icons">event</i><span>Payment Term</span></a>
        <a class="btn col-4" name="select_pricelist"><i class="material-icons">loyalty</i><span>Recalculate Price</span></a>
        
        <a class="btn col-4" name="print"><i class="material-icons">print</i><span>Print</span></a>
        <a t-if="mode != 'guest'" class="btn col-4" name="sent_email"><i class="material-icons">email</i><span>Send Quotation</span></a>
        <a class="btn col-4" data-target="#order-status" data-toggle="modal" ><i class="material-icons">info</i><span>Check Status</span></a>
<!--        <a class="btn col-4" name="start_pay"><i class="material-icons">payment</i><span>Pay</span></a>-->
<!--        <a class="btn col-4" name="do_cancel"><i class="material-icons">cancel</i><span>Cancel</span></a>-->
        <a class="btn col-4" name="confirm_order"><i class="material-icons">check_circle</i><span>Confirm</span></a>
    </section>
    
    <div id="order-status" style="display: none" class="modal fade" role="dialog">
        <div class="modal-dialog">              
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <b><t t-esc="cart.get_name()"/></b>
            </div>
            <div class="modal-body">                
                <t t-esc="cart.get('state')"/><br/>
                <t t-esc="format_currency(cart.get_total())"/><br/>
                <t t-esc="format_currency(cart.get_total_tax())"/><br/>
                <t t-esc="format_currency(cart.get_total_discount())"/><br/>                
                <t t-if="cart.payment_term" t-esc="cart.payment_term.name"/><br/>
                <t t-esc="cart.pricelist.get_name()"/><br/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>        
    </div>
</main>