<main data-role="page" class="page catalogs tab-content " id="catalog" >
    <div class="container header">
        <div class="search" >
          <i class="material-icons">search</i>
          <input id="search_input" class="text-input" placeholder="Search term">
        </div>        
        <div class="buttons pull-right" style="display: none;">
<!--            <input type="radio" name="view_mode" id="view_mode1">-->
            <a name="load_more" for="view_mode1" class="btn">
                <i class="material-icons">refresh</i>
            </a>            
        </div>
    </div>
    <section class="container categs" id="categs" style="padding-top:15px">
        <div class="card-deck ">
            <div  class="card text-center mb-3 categ"  t-foreach="products.get_categories()" t-as="cat" t-att-data-categ_id="cat.id">
                <div class="card-body">
                  <h4 class="card-title"><t t-esc="cat.name"/></h4>
                </div>
            </div>
        </div>
    </section>
    <section class="container prods" id="prods">
        <div class="container">
            <div class="row grid">
                <div  class="prod col-6"  t-foreach="products.models" t-as="p" t-att-data-categ_id="p.get('categ_id').id" t-att-data-id="p.id">
                    <div class="card mb-3">
                        <div class="img-container">
                            <img class="card-img-top" t-att-name="p.id" t-att-src="p.get_image_url(app)" t-att-alt="p.get('display_name')"
                                 onerror="this.src='img/placeholder.png';"/>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title"><t t-esc="p.get_display_name()"/></h6>
                          <p class="card-text price"><t t-esc="format_currency(p.get_price())"/></p>
                        </div>
                        <a class="btn btn-success btn-block text-white" name="add_product">Add</a>
                    </div>
                </div>                        
            </div>
            <a t-if="products.length < products.total" name="load_more"  class="btn text-center" style="width: 100%;margin: 0 auto;">Load more</a>
        </div>
    </section>
</main>