.bg-primary {
    background-color: #dd4b39!important;
} 
.btn-primary {
    background-color: #dd4b39!important;
    border-color: #dd4b39!important;
}


.page.cart .nav-tabs .nav-link.active {
    color: white;
    background-color: #dd4b39!important;
    border-color: #dd4b39!important;
}