.hide{display: none;}
main {margin-top: 56px}
.page.no-nav ~ header {display: none}

.loginuser:visible  + .loginguest {display: none}
.loginuser:not(:visible) + .loginguest {display: block}

.pull-right {float: right}
.prod.col-6{padding: 0;}
.card-body{padding: 8px;}
.prod .img-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.prod .card-img-top {
    flex-shrink: 0;
    min-width: 100%;
    /*min-height: 100%*/
    }
.prod .card-title {
    display: -webkit-box;
    max-width: 170px;
    height: 40px;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 6px;
    text-overflow: ellipsis;
}
.prod .price{
    float: right;
}
.list-group-flush:first-child .list-group-item span:first-child {
    width: 20px;
    display: inline-block;
}
.so-list li.list-group-item {
    font-size: 16px;
}
.list-group-flush:first-child .list-group-item span:last-child {
    display: inline-block;
    float: right;
}
.tab-content .tab-pane{
    height: calc(100vh - 98px);
    overflow: auto;
}
.mt-6 {
    margin-top: 3.5rem;
}
.page {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x:hidden;
}

.page.cart .nav-tabs .nav-item {
    margin-bottom: -2px;
}


.page.cart .total-val {display: inline;float:right}
.page.cart .total label {font-size: 1.5rem;font-weight: 500}
.page.cart .partner-select,.page.cart .date-select{display: inline;float: right}

.page.cart .line div.qty{display:none}
.page.cart .line.active span.qty{display:none}
.page.cart .line.active div.qty{display:block}
.page.cart .line.active input.qty{    
    width: calc(100% - 112px);
    border: none;
    font-size: 14pt;
    border-bottom: 1px solid #dda007;
    padding: 8px 10px 8px 5px;
}  

.page.cart .buttons{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.cart-num{    
    font-size: 18px;
    display: inline-block;
    vertical-align: top
}
.cart-toggle{padding-top: 6px;}
.order .alert:empty{display: none}
.order .alert:empty + .footer a.confirm{font-weight: 300;}
button.navbar.navbar-toggle {
    background: none;
    border: none;
    color: white;
    padding-left: 4px;
    outline: none;
    padding-right: 4px;
    margin-left: 8px;
}
nav{display: none;}
nav:only-of-type{display: block !Important;}
nav + nav{display: block !Important;}
.page.no-nav + .navbar,.page.no-nav ~ .navbar  {
    display: none !important;
}
header {position: fixed;top:0;width: 100vw}
header #menu li {min-height: 56px;padding: 16px; }
#loading {
    background: #ffc107 !important;
    text-align: center;
}
.loader{    
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.search { position: relative; display:inline-block;width: 100%;height:56px ;padding: 4px 8px}
.search input { 
    text-indent: 30px; 
    width: 100%;
    margin-top:4px;
    line-height: 2em; 
    border:none;
    border-bottom:1px solid #757575;
}
.search input:focus { outline:none; }
.search i { 
  position: absolute;
  top: 8px;
}
input[type=radio] {display: none}
.header .buttons label {margin-bottom: 0px}
input:not(:checked) + label > i {content: "dashboard"; }
input:checked       + label > i{content: "reorder";}

.bottom-button{
    background: #495057;   
    margin: 0 auto !Important;
    text-align:center;
}
.bottom-button .btn{width: 32%;padding: 12px;}
.bottom-button .btn span{display: block}

.bottom-button .cart-buttons {display: inline-block;width: 33% }

.partner.list-group-item {
    padding: 0;
    border: none;
    margin: 0;
    border-bottom: 1px solid #dadada;
}

.list.picker.partner {
    max-height: calc(100vh - 112px);
    overflow-y: auto;       
}
.form.partner {
    position: absolute;
    bottom: 56px;
    background-color: #fff;
    padding-top: 15px;
    border:1px solid silver;
}
.form.partner  label{width: 100px}
.form.partner  input{display: inline-block;width: auto;}
.button-footer {
    padding: 4px 8px;
    position: absolute;
    bottom: 0px;    
    height: 56px;
}
.button-footer button {
    margin: 0 6px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto);
@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
  }
}
.radio {
  margin: 16px 0;
}
.radio.radio-inline {
  display: inline-block;
}
.radio input[type="radio"] {
  display: none;
}
.radio input[type="radio"]:checked + label:before {
  border-color: #337ab7;
  animation: ripple 0.2s linear forwards;
}
.radio input[type="radio"]:checked + label:after {
  transform: scale(1);
}
.radio label {
  display: inline-block;
  height: 20px;
  position: relative;
  padding: 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
}
.radio label:before, .radio label:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  transition: all .3s ease;
  transition-property: transform, border-color;
}
.radio label:before {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.54);
}
.radio label:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: scale(0);
  background: #337ab7;
}
